@import '../../../node_modules/@elastic/eui/src/global_styling/functions/index.scss';

// Core
$euiColorPrimary: #11cc22;
$euiColorSecondary: rgb(215, 236, 27);
$euiColorAccent: #F990C0;
$euiColorHighlight: #dfdfdf;
